<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>회원관리</title>
    <style>
        .pull-right {
            float: right;
            margin-left: 10px;
        }

        .btn-primary {
            background-color: #dc3545;
            border-color: #dc3545;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">게시판 서비스</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="localhost:8080/authors">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="localhost:8080/post">글목록</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>회원 목록</h1>
    </div>
    <div class="pull-right">
        <a href="/" class="btn btn-primary">로그인</a>
    </div>
    <div class="pull-right">
        <a href="/authors/new" class="btn btn-primary">회원가입</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-2">id</th>
                <th class="col-md-3">이름</th>
                <th class="col-md-4">email</th>
                <th class="col-md-4">상세보기</th>
                <!-- <th class="col-md-5">가입일</th> -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authorList}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.name}"></td>
                <td th:text="${author.email}"></td>
                <td><a th:href="@{'author?id=' + ${author.id}}">상세보기</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>