<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>회원 가입</title>
    <style>
        .pull-right {
            float: right;
            margin-left: 10px;
        }

        .btn-primary {
            background-color: #dc3545;
            border-color: #dc3545;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">게시판 서비스</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="localhost:8080/authors">회원관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="localhost:8080/post">글목록</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>회원 가입</h1>
    </div>
    <form action="/authors/new" method="post">
        <div class="form-group">
            <label>이름</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label>비밀번호</label>
            <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <label>사용자</label>
            <select name="role" class="form-control">
                <option>==선택==</option>
                <option>admin</option>
                <option>user</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>